# ignore everything except explicitly allowed files in the repository
*

# explicitly allowed files in the repository
!*.ipynb
!*.ipy
!README
!.gitignore

# allow the above few files, even in subdirectories
!*/

# ignore a few exceptions to the above allowed files
Untitled*
# ignore the following folder and all its contents
/.ipynb_checkpoints
